// 定义变量
$primary-color: #4ecaff;
$text-color: #1b3a42;
$bg-gradient: linear-gradient(to bottom, transparent, #fff) #eceeef;

html,
body {
  padding: 0;
  margin: 0;
  font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: $bg-gradient;
}

p {
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// 模块化类名 - 驼峰命名
.containerBox {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin-top: 3rem;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  margin: 4rem 0 4rem;
  align-items: center;
  font-size: 4rem;
  font-weight: 600;

  .name {
    color: $primary-color;
  }
}

.logo {
  width: 6rem;
  margin: 7px 0 0 1rem;
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.3rem;
  color: $text-color;
  margin-bottom: 5rem;
}

.code {
  background: #fafafa;
  border-radius: 12px;
  padding: 0.6rem 0.9rem;
  font-size: 1.05rem;
  font-family: Menlo, Monaco, Lucida Console, monospace;
}

.card {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  color: inherit;
  text-decoration: none;
  transition: 0.15s ease;
  width: 45%;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  h2 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}

.arrowRight {
  height: 1em;
  margin-left: 0.3rem;
}
